/* Ensure html and body span the full height of the viewport */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Set the background color and font styling */
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

/* Center the container for the content */
.container {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Additional styling for the form on the calculation page */
#calculationForm {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Styling for headings */
h1, h2 {
    color: #333;
}

/* Styling for form elements */
.form-label {
    margin-bottom: 0.5rem;
    color: #666;
}

.form-control {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ddd;
}

/* Styling for buttons */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    transition: background-color 0.2s;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}
