<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EQD2 & BED Calculator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>

<body>
    <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <h2 class="text-center">Calculate EQD2 & BED</h2>
                <a href="/" class="btn btn-primary mt-3 d-flex align-items-center justify-content-center">Home</a>
                <form id="calculationForm" class="mt-4">
                    <div class="mb-3">
                        <label for="dosePerFraction" class="form-label">Dose per Fraction (Gy):</label>
                        <input type="number" class="form-control" id="dosePerFraction" required>
                    </div>
                    <div class="mb-3">
                        <label for="totalFractions" class="form-label">Total Fractions:</label>
                        <input type="number" class="form-control" id="totalFractions" required>
                    </div>
                    <div class="mb-3">
                        <label for="alphaBeta" class="form-label">Alpha/Beta Value:</label>
                        <input type="number" class="form-control" id="alphaBeta" required>
                    </div>
                    <button type="button" class="btn btn-success" id="calculateJs" onclick="calculateWithJS()">Calculate
                        with JS</button>
                    <button type="button" class="btn btn-info" id="calculatePython"
                        onclick="calculateWithPython()">Calculate with Python</button>

                    <!-- Add a div to display the result -->
                    <div id="result" class="mt-3"></div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>
