<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the EQD2 & BED Calculator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>
<body>
    <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col text-center">
                <h1>Welcome to the EQD2 & BED Calculator</h1>
                <p class="lead mt-4">
                    This application helps you calculate the Equivalent Dose in 2 Gy fractions (EQD2) and the Biological Effective Dose (BED) used in radiotherapy.
                </p>
                <a href="/calculate" class="btn btn-primary mt-3">Start Calculation</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
