{% extends "index.html" %}
{% block title %}
    Calculate EQD2 & BED
{% endblock %}
{% block content %}
    <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <h2 class="text-center">Calculate EQD2 & BED</h2>
                <div class="d-flex mt-3 align-items-center justify-content-center">
                    <a href="/" class="flex-fill btn btn-primary mx-1">Home</a>
                    <a href="/view_dicom" class="flex-fill btn btn-primary mx-1">View Dicom</a>
                </div>

                <div class="card mt-3">
                    <div class="card-body">
                        {% for structure in structures %}
                            <h5 class="card-title">{{ structure.name }}</h5>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Label</th>
                                        <th scope="col">Metric Value</th>
                                        <th scope="col">Alpha/Beta</th>
                                        <th scope="col">EQD2 (Gy)</th>
                                        <th scope="col">BED (Gy)</th>
                                        <th scope="col">Operation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for metric in structure.metrics %}
                                        <tr>
                                            <td>{{ metric.dvh_metric.label }}</td>
                                            <td>{{ metric.metric_value }}</td>
                                            <td>{{ metric.alpha_beta }}</td>
                                            <td>{{ metric.eqd2 }}</td>
                                            <td>{{ metric.bed }}</td>
                                            <td>
                                                <a href="/delete_dvh_metric/{{ structure.id }}/{{ metric.dvh_metric.id }}" class="btn btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <form action="/add_dvh_metric/{{ structure.id }}" method="post">
                                            <td>
                                                <select name="dvh_metric" class="form-control" required>
                                                   {% for dvh_metric in dvh_metrics %}
                                                        <option value="{{ dvh_metric.id }}">{{ dvh_metric.label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td><input type="number" name="metric_value" class="form-control" required></td>
                                            <td><input type="number" name="alpha_beta" class="form-control" required></td>
                                            <td></td>
                                            <td></td>
                                            <td><button type="submit" class="btn btn-primary">Save</button></td>
                                        </form>
                                    </tr>
                                </tbody>
                            </table>
                        {% endfor %}
                        <form action="/calculate_dose">
                            <button type="submit" class="btn btn-info" id="calculatePython">Calculate EQD2+BED</button>
                        </form>
                    </div>
                </div>



            </div>
        </div>
    </div>
{% endblock %}
