{% extends "index.html" %}
{% block title %}
    Dicom Viewer
{% endblock %}
{% block content %}
<div class="row mb-3">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <input type="range" min="0" max="{{ num_slices - 1 }}" value="0" class="form-control-range" id="ctSliceRange">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 scrollbar">
      <div class="d-flex justify-content-center">
        <img id="ctSliceImage" src="{{ url_for('view_ct_slice', slice_index=0) }}" class="img-fluid">
      </div>
    </div>
  </div>



  <script>
    // Script that just looks for up and down arrow key events to change the slice
    var sliceRange = document.getElementById("ctSliceRange");
    var sliceImage = document.getElementById("ctSliceImage");
    sliceRange.addEventListener("input", function () {
      var sliceIndex = this.value;
      sliceImage.src = "/view_ct_slice/" + sliceIndex;
    });
    document.addEventListener("keydown", function (event) {
      if (event.key === "ArrowLeft") {
        sliceRange.value = Math.max(sliceRange.valueAsNumber - 1, sliceRange.min);
        sliceRange.dispatchEvent(new Event("input"));
      } else if (event.key === "ArrowRight") {
        sliceRange.value = Math.min(sliceRange.valueAsNumber + 1, sliceRange.max);
        sliceRange.dispatchEvent(new Event("input"));
      }
    });
  </script>
{% endblock %}
