{% extends 'index.html' %}
{% block title %}
    Welcome
{% endblock %}
{% block content %}

    <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col text-center">
                <h1>Welcome {{name}} </h1>
                <p class="lead mt-4">
                    This application helps you calculate the Equivalent Dose in 2 Gy fractions (EQD2) and the Biological Effective Dose (BED) used in radiotherapy.
                </p>
                <a href="/calculate" class="btn btn-primary mt-3">Start Calculation</a>
            </div>
        </div>
    </div>

{% endblock %}
