{% extends "index.html" %}
{% block title %}
    Calculate EQD2 & BED
{% endblock %}
{% block content %}
    <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <h2 class="text-center">Calculate EQD2 & BED</h2>
                <a href="/" class="btn btn-primary mt-3 d-flex align-items-center justify-content-center">Home</a>
                <form id="calculationForm" class="mt-4" method="post">
                    <div class="mb-3">
                        <label for="dosePerFraction" class="form-label">Dose per Fraction (Gy):</label>
                        <input type="number" class="form-control" id="dosePerFraction" name="dosePerFraction" required>
                    </div>
                    <div class="mb-3">
                        <label for="totalFractions" class="form-label">Total Fractions:</label>
                        <input type="number" class="form-control" id="totalFractions" name="totalFractions" required>
                    </div>
                    <div class="mb-3">
                        <label for="alphaBeta" class="form-label">Alpha/Beta Value:</label>
                        <input type="number" class="form-control" id="alphaBeta" name="alphaBeta" required>
                    </div>
                    <button type="button" class="btn btn-success" id="calculateJs" onclick="calculateWithJS()">Calculate
                        with JS</button>
                    <button type="submit" class="btn btn-info" id="calculatePython"
                        >Calculate with Python</button>

                    <!-- Add a div to display the result -->
                    <div id="result" class="mt-3"></div>
                        {% if results %}
                            <div class="alert alert-success mt-3">
                                <p class="lead">EQD2: {{ results['eqd2'] }} Gy</p>
                                <p class="lead">BED: {{ results['bed'] }} Gy</p>
                            </div>
                        {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
